.ani1 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  position: fixed;
  overflow: hidden;
}

.ani2 {
  padding: 5px;
  background-color: rgb(250, 249, 249);
  border: 1px solid #25d482;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 300px;
  max-width: 300px;
  height: 500px;
  max-height: 100%;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 40px -10px rgba(135, 247, 181, 0.651);
  text-align: center;
  padding: 20px;
}

.card img {
  height: 380px;
  width: 280px;
  border-radius: 10px;
  margin: 0 auto;
}

.card h2 {
  display: inline-block;
  margin-right: 10px;
}

.card h2:nth-of-type(2) {
  opacity: 0.7;
  font-size: 1.35rem;
}

.card h5 {
  margin-top: -15px;
  margin-left: 2px;
  color: lightgray;
}
.card h5:last-of-type {
  color: darkgray;
}

/* .card > div {
  height: 380px !important;
} */

.slider-control-bottomcenter {
  bottom: -15px !important;
}

.slider-control-bottomcenter > ul > li > button {
  color: salmon !important;
}
