#form {
  margin: 0 auto;
  text-align: center;
}

#login-signup {
  width: 25%;
  padding: 30px;
  margin: 30px auto;
  background-color: #242d3b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#login-signup img {
  margin: 0 auto;
  margin-bottom: 20px;

  width: 65%;
}

#form form {
  display: flex;
}
#form form button {
  display: block;
}
#btn-reset {
  margin-top: 10px;
  display: inline-block;
  width: 97%;
  border-style: none;
  background: #25d381;
  border-radius: 2px;
  color: white;
  padding: 5px;
  font-size: 18px;
}

#form form input {
  background-color: #242d3b;
  border-style: none;
  border-bottom: 2px #25d381 solid;
  font-size: 19px;
  width: 100%;
  color: white;
}
#form form input::placeholder {
  color: white;
}
#google-auth-btn {
  align-content: center;
}
