nav ul {
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #45484d 0%,
    #000000 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  max-width: 100%;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0rem;
  color: #25d482;

  border-bottom: #25d482 2px solid;
}
nav ul img {
  margin-left: 20%;
  width: 160%;
}

nav li {
  width: 100px;
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
  color: #25d482;
  display: flex;
}
nav li a {
  color: #25d482;
  width: 100%;
  height: 20px;
  font-size: 1.5rem;
}