  .container {
  position: fixed;
  left: 10%;
  right: 10%;
  margin-top: 10%;
  max-width: 70%;
  border-radius: 10px;
  display: flex;

  justify-content: flex-end;
}

.content-left img {
  position: relative;
  top: -20%;
  left: -30%;
  max-width: 90%;
  max-height: 90%;
  margin: 30px;
  border-radius: 10%;
  -webkit-box-shadow: 2px 7px 19px 1px rgba(37, 211, 129, 0.37);
  -moz-box-shadow: 2px 7px 19px 1px rgba(37, 211, 129, 0.37);
  box-shadow: 2px 7px 19px 1px rgba(37, 211, 129, 0.37);
}


.right-content {
  width: 300px;
  height:170px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  padding-right: 10%;
}


.box {
  width: 100%;

  padding: 0 2%;
}


.btn-update {
  background-color: #25d381;
  border-radius: 20px;
  font-size: 19px;
  border-style: none;
  border: 1.5px solid black;
  padding: 10px;
  width: 200px;
  color: white;
  -webkit-box-shadow: 2px 7px 19px 1px rgba(37, 211, 129, 0.37);
  -moz-box-shadow: 2px 7px 19px 1px rgba(37, 211, 129, 0.37);
  box-shadow: 2px 7px 19px 1px rgba(37, 211, 129, 0.37);
}


.modal {
  position: fixed;
  top: 12px;
  padding: 12px;
  background-color: black;
  border: 1px solid grey;
}


form {
  display: flex;
}


#profileForm input {
  border-style: none;

  font-size: 19px;
  padding: 1%;
  width: 100%;
}


.bp3-overlay-content img {
  width: 200px;
  height: 250px;
}


button.bp3-intent-danger {
  margin-top: 1rem;
}


span.red-text {
  font-style: bold;
  font-size: 1rem;
  width: 100%;
}


.row {
  width: 100%;
  display: flex;
}


button.bp3-intent-success {
  margin-top: 1rem;
}


@media (max-width: 500px) {

  .container {
    width: 100%;
    margin-left:10px;
  }

  .card {
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .col.s12 {
    font-size: 0.8rem;
    width: 100%;
    align-content: center;
  }

  .right-content {
    margin-left:40px;
  }

}


@media (max-width: 900px) {

  .content-left img {
    position: relative;
    top: 0;
    left: 0;
  }

}


@media (max-width: 580px) {

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-content {
    align-items: center;
    width: 100%;
  }

} 

.bp3-overlay-content {
  background-color: #242d3b;
}
