.how {
  background-color: black;
  width: 0.1%;

  margin: 0 auto;
}

.container {
  color: white;
  font-size: 19px;
}
.container ul.row {
  display: flex;
  list-style: none;
  font-size: 0.9rem;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

div.card.grey.lighten-1 {
  width: 95%;
}

span.card-title {
  margin: 0 auto;
  margin-bottom: 20px;
}

div.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container span {
  padding: 0 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin: 0 auto;
}
button.bp3-intent-danger {
  margin: 0 10px;
}

input {
  margin: 0 20px;
  border-style: none;
  border-bottom: 1px dotted black;

  font-size: 19px;
}

input::placeholder {
  color: black;
}
#drop-form-btn {
  margin-top: 20px;
  text-align: center;
}

.bp3-overlay-content {
  position: absolute;
  z-index: 20;
  top: 90px;
  left: 25%;

  animation-duration: 1s;
  animation-name: slidein;
}
.bp3-card.bp3-elevation-2.bp3-overlay-content.bp3-overlay-appear-done.bp3-overlay-enter-done {
  display: block;
}

@keyframes slidein {
  from {
    top: -10px;
  }

  to {
    top: 90px;
  }
}

@media (max-width: 500px) {
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 355px;
    padding-right: 35px;
  }

  .bp3-button-text {
    margin: 0, auto;
    padding-left: 0px;
    width: 60px;
    display: flex;
    justify-content: space-around;
  }

  button .bp3-intent-danger {
    padding: 0;
    margin-right: 0px;
  }

  button .bp3-icon-arrow {
    display: none;
  }

  button .bp3-icon-refresh {
    display: none;
  }

  button .bp3-icon-disable {
    display: none;
  }
}
.btn-update-settings {
  background-color: #25d381;
  border-radius: 40px;
  font-size: 18px;
  border-style: none;
  border: 1.5px solid black;

  width: 200px;
  color: white;
  -webkit-box-shadow: 2px 7px 19px 1px rgba(37, 211, 129, 0.37);
  -moz-box-shadow: 2px 7px 19px 1px rgba(37, 211, 129, 0.37);
  box-shadow: 2px 7px 19px 1px rgba(37, 211, 129, 0.37);
  margin-left: 20px;
  margin-bottom: 10px;
}

.btn-red-settings {
  background-color: #e41a0b;
  border-radius: 40px;
  font-size: 18px;
  border-style: none;
  border: 1.5px solid black;
  padding: 7px;
  width: 200px;
  color: white;
  -webkit-box-shadow: 2px 7px 19px 1px rgba(209, 25, 12, 0.37);
  -moz-box-shadow: 2px 7px 19px 1px rgba(209, 25, 12, 0.37);
  box-shadow: 2px 7px 19px 1px rgba(209, 25, 12, 0.37);
  margin-left: 20px;
  margin-bottom: 10px;
}
@media (max-width: 850px) {
  #setting-ul {
    display: flex;
    flex-direction: column;
  }
  #setting-ul li {
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
